<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Around The U.S</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" href="./pages/index.css" />
  </head>
  <body class="page">
    <header class="header">
      <div class="header__logo">
        <img src="<%= require('./images/logo.svg')%>" alt="logo" />
      </div>
    </header>
    <section class="profile">
      <div class="profile__content">
        <div class="profile__avatar">
          <img
            src="<%= require('./images/Avatar.png')%>"
            alt="Avatar img"
            class="profile__avatar_img"
          />
          <img
            src="<%= require('./images/editProfile.png')%>"
            alt="edit icon"
            class="profile__avatar_edit-img"
          />
        </div>
        <div class="profile__info">
          <div class="profile__containter">
            <h1 class="profile__name">Jacques Cousteau</h1>
            <img
              class="profile__button"
              src="<%= require('./images/Edit_Button.svg')%>"
              alt="edit button"
            />
          </div>
          <p class="profile__rol">Explorador</p>
        </div>
        <div class="profile__add">
          <img
            class="profile__add-place"
            src="<%= require('./images/Add_Button.png')%>"
            alt="add buton img"
          />
        </div>
      </div>
    </section>
    <main class="places">
      <div class="places__elements">
        <template id="cardElement">
          <div class="places__element">
            <div class="places__banner">
              <img class="places__image" src="/" alt="place image" />
              <img
                class="places__trash-icon pointer"
                src="<%= require('./images/Trash.svg')%>"
                alt="Trash svg"
              />
            </div>
            <div class="places__info">
              <h2 class="places__title"></h2>
              <div class="places__image-container-likes">
                <button class="places__like">
                  <img
                    class="pointer"
                    src="<%= require('./images/like.svg')%>"
                    alt="like svg"
                  />
                  <p class="places__image_likes places__likes"></p>
                </button>
              </div>
            </div>
          </div>
        </template>
      </div>
      <div class="modal modal-img-delete disabled">
        <h2 class="modal__title modal-img-delete__title">¿Estas seguro/a?</h2>
        <form class="modal__form form form__imgDelete" novalidate>
          <input type="text" name="idCard" class="disabled" />
          <button
            class="modal__button modal-img-delete__button idCard"
            type="submit"
            id="idCard"
          >
            Si
          </button>
        </form>
      </div>
    </main>
    <section class="modal modal-perfil disabled">
      <h2 class="modal__title">Editar Perfil</h2>
      <form class="modal__form form" novalidate>
        <input
          class="modal__input modal__input_name form__input"
          type="text"
          minlength="2"
          maxlength="40"
          id="name-input"
          placeholder="Nombre"
        />
        <span class="form__input-error name-input-error"></span>
        <input
          type="text"
          placeholder="Profesion"
          required
          minlength="2"
          maxlength="200"
          id="profesion-input"
          class="modal__input modal__input_job form__input"
        />
        <span class="form__input-error profesion-input-error"></span>

        <button class="modal__button" type="submit">Guardar</button>
      </form>
      <img
        class="modal__close modal__close-perfil"
        src="<%= require('./images/Close_Icon.png')%>"
        alt="close icon"
      />
    </section>
    <section class="modal modal-place disabled">
      <h2 class="modal__title">Nuevo Lugar</h2>
      <form class="modal__form form" novalidate>
        <input
          class="modal__input modal__input_title form__input"
          type="text"
          minlength="2"
          maxlength="30"
          placeholder="Titulo"
          id="title-input"
        />
        <span class="form__input-error title-input-error"></span>
        <input
          class="modal__input modal__input_url form__input"
          type="url"
          placeholder="Enlace a imagen"
          id="url-input"
        />
        <span class="form__input-error url-input-error"></span>
        <button class="modal__button" type="submit">Crear</button>
      </form>
      <img
        class="modal__close modal__close-place"
        src="<%= require('./images/Close_Icon.png')%>"
        alt="close icon"
      />
    </section>
    <section class="modal modal-profile-img disabled">
      <h2 class="modal__title">Cambiar foto de perfil</h2>
      <form class="modal__form form" novalidate>
        <input
          class="modal__input modal__input_url-img"
          type="text"
          id="url-img"
          placeholder="Url"
        />
        <button class="modal__button modal__button-img-Edit" type="submit">
          Guardar
        </button>
      </form>
      <img
        class="modal__close modal__close-place"
        src="<%= require('./images/Close_Icon.png')%>"
        alt="close icon"
      />
    </section>
    <section class="modal-img disabled">
      <img
        class="modal-img__src"
        src="<%= require('./images/place__2.png')%>"
        alt="img"
      />
      <img
        class="modal-img__close"
        src="<%= require('./images/Close_Icon.png')%>"
        alt="close icon"
      />
      <p class="modal-img__title"></p>
    </section>

    <div class="overlay"></div>
    <script type="module" src="./js/Card.js"></script>
    <script type="module" src="./js/FormValidator.js"></script>
    <script type="module" src="./js/utils.js"></script>
    <script type="module" src="./js/index.js"></script>
  </body>
</html>
